/*Sidebar menu*/
/*sidebar product*/
.pos-best-sellers {
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 30px 0 30px;
}
.pos-best-sellers .block-title{
	border-bottom: 1px solid #cbcbcb;
}
.title_possellers {
	position: relative;
	line-height: 36px;
	margin-top: 0px;
	padding: 5px 0px 0px;
	font-size: 22px;
	color:#333333;
	font-weight: normal;
	text-transform: uppercase;
	font-family:"FSLucidaBrightRegular", serif;
}
.seller-item {
	display: inline-block;
	width: 100%;
	clear: both;
	border-bottom: 1px dotted #e7e7e7;
	padding: 10px 0 5px;
}
.seller-item .sellers-img {
	float: left;
	margin: 0 15px 0 0;
	width:100px;
}
.product-content {
	/*background-color: #fff;*/
	overflow: hidden;
	text-align: left;
}
.bs-title a {
	font-size: 15px;
	color: #333333;
	font-style: italic;
	font-family: "#333333", serif;
}
.bs-title a:hover {color: #f35849;}
.price-box-side .price {
	font-size: 18px;
	color: #d71e1e;
	float: left;
	margin-right: 8px;
}
.price-box-side .old-price {
	font-size: 16px;
	text-decoration: line-through;
	color: inherit;
	font-weight: normal;
	float: left;
}
.boxprevnext  a.prev:before {
	content: "";
	width: 0;
	height: 0;
	border-width: 9px 9px 9px 0px;
	border-color: transparent #838383;
	border-style: solid;
	border-radius: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.boxprevnext  a.next:before {
	content: "";
	width: 0;
	height: 0;
	border-width: 9px 0 9px 9px;
	border-color: transparent transparent transparent #838383;
	border-style: solid;
	border-radius: 0;
	position: absolute;
}
.boxprevnext a{
	position: relative;
	width:15px;
	height: 18px;
	background-color: transparent !important;
	font-size: 0;
	float: left;
	opacity: 1 !important;
	transform: scale(1) !important;
	cursor: pointer;
}
a.next.nextsellers {
	margin-left: 8px;
}
.boxprevnext {
	position: absolute;
	top: 20px;
	right: 0;
}
.news-latest .article img {
	width:100%!important;
}

#menu-blog, .menu-page {border: 1px solid #eee;}
#menu-blog li ul li.first, #menu-blog li ul ul li:first-child,
.menu-page li ul li.first, .menu-page li ul ul li:first-child  {
	border-top: 1px solid #E6E7EB;
}
#menu-blog li ul li.last, #menu-blog li ul ul li:last-child,
.menu-page li ul li.last, .menu-page li ul ul li:last-child{
	border-bottom: none!important;
}
#menu-blog>li, #menu-blog>li ul li,
.menu-page>li, .menu-page>li ul li{
	background: #eee;
	border-bottom: 1px solid #E6E7EB;
}
#menu-blog li a, .menu-page li a {
	padding: 13px;
	border-left: 4px solid transparent;
}
#menu-blog li a:hover, .menu-page li a:hover {border-left: 4px solid #4a90e2;}
#menu-blog > li.item>ul >li> a, .menu-page > li.item>ul >li> a {
	border-left: 4px solid transparent;
}
#menu-blog>li.firt-child, .menu-page>li.firt-child {
	border-top: 1px solid #e6e7eb;
}
#menu-blog>li.current.active a, .menu-page>li.current.active a {
	border-left: 4px solid #4a90e2;
}
#menu-blog > li.item.has-sub:hover > a,
#menu-blog > .has-sub li:hover > a,
#menu-blog > li.has-sub li>ul >li:hover,
.menu-page > li.item.has-sub:hover > a,
.menu-page > .has-sub li:hover > a,
.menu-page > li.has-sub li>ul >li:hover{
	border-left: 4px solid #4a90e2!important;
}
#menu-blog > li.has-sub >ul >li.has-sub:hover,
.menu-page > li.has-sub >ul >li.has-sub:hover {
	border-left: 0px solid #4a90e2!important;
}
#menu-blog > li.has-sub .has-sub>ul.lve2-blog >li,
.menu-page > li.has-sub .has-sub>ul.lve2 >li {
	border-left: 4px solid transparent!important;
}

#menu-blog>li.current.active,
.menu-page>li.current.active {
	background-color: #fff;
}
#menu-blog li a span,
.menu-page li a span{
	color: #343e47;
}
#menu-blog li a span:hover,
.menu-page li a span:hover{
	color: #4a90e2;
}
#menu-blog li a span i,
.menu-page li a span i {color: #ff7264;}
.news-menu #menu-blog li.active a,
.menu-page  li.active a{
	color: #000;
	background-color: #fff!important;
}
span.toggle.CLOSE:after {
	content: "\f078";
	font-family: "FontAwesome";
	position: absolute;
	right: 13px;
	color: #4a90e2; 
}
span.toggle.OPEN:after {
	content: "\f077";
	font-family: "FontAwesome";
	position: absolute;
	right: 13px;
	color: #4a90e2; 
}



.contact-form .btn-lg, .contact-form .btn-group-lg>.btn{
	background: #e74c3c;
	border: #e74c3c;
	border: 0;
	border-radius: 0;
	font-size: 15px;
	font-family:"FSLucidaBrightRegular";
}

.bg-t.block{
	background: #414149;
	padding: 15px 15px 0px;
}
.navbar-toggle .block-title a {
	color: #ffffff;
	font-family:'';
	font-size: 22px;
	text-transform: uppercase;
}
.bg-t.block p.title_block {
	font-size:20px;
	transition: none;
	color: #2f2f2f;
	font-family:'';
}
#filter-color .current .colour {
	border: 2px solid red;
}
.icon-filter {
	padding: 5px;
	background: #be382a;
	color: #ffffff;
	float: right;
}

.news-menu .nav li ul {padding-left: 0px;margin-left: 25px;}
.news-latest .seller-item .product-content h5 {margin-bottom: 0px;}
.news-latest .seller-item .product-content h5 a {color: #343e47;}
.news-latest .seller-item .product-content h5 a:hover {color: #4a90e2;}
.blogs-sidebar .widget-title, .mega-left-title { margin-bottom: 20px; margin-top: 0; font-weight: normal; text-transform: uppercase; }
.blogs-sidebar .widget-title h3, .mega-left-title h3 {font-weight: 500;}
.blogs-sidebar .widget-title:after, .mega-left-title:after {
	content: "";
	display: block;
	width: 60px;
	margin-top: 10px;
	border-bottom: 2px solid #4a90e2;
}
.seller-item {
	display: inline-block;
	width: 100%;
	clear: both;
	border-bottom: 1px dotted #e7e7e7;
	padding: 10px 0 5px;
}
.seller-item .sellers-img {
	float: left;
	margin: 0 15px 0 0;
	width:100px;
}
.news-latest .article img {
	width:100%!important;
}
/*tag*/
.tagcloud { float: left; margin-bottom: 27px; }
.tagcloud a { 
	background-color: #eeeeee; 
	color: #343e47; 
	float: left; 
	margin: 0 4px 4px 0; 
	font-size: 12px !important; 
	padding: 4px 11px; 
}
.tagcloud a:hover {
	color: #4a90e2;
}
/*Search*/
.widget-search {
	margin-bottom: 40px;
}
.widget-search .searchform {
	position: relative;
}
.widget-search .searchform input {
	border: 1px solid #f3f3f3;
	background-color: #f3f3f3;
	height: 40px;
	width: 100%;
	padding: 0 20px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.widget-search .searchform input:hover, .widget-area .searchform input:focus {
	border: 1px solid #bdbdbd;
}
.widget-search .searchform input:focus {outline: 0;}
.widget-search .searchform input[type="submit"].search-button {
	background-color: transparent;
	border: none;
	position: absolute;
	background: url(../../../855/1000077855/1000111216/search.png) no-repeat ;
	right: 0;
	width: 5%;
	top: 10px;
}

.body-comment {
	border: 1px solid #DCDFE8;
	box-shadow: 0px 0px 1px #DCDFE8;
	border-bottom: 2px solid #B9BABC;
	text-align: center;
	margin: 20px 0;
}
.body-comment .slide-comment-item {padding: 20px;}
.body-comment .slide-comment-item i {color:#4a90e2 ; font-size: 22px;}
.slide-comment-item h2.comment-title {
	margin: 13px 0;
	line-height: 24px;
	font-size: 18px;
	font-weight: 700;
	padding: 0px;
}
.slide-comment-item .comment-content {
	color: #343E47;
	margin-bottom: 7px;
}
.slide-comment-item .comment-img {
	float: none;
	text-align: center;
	width: 100%;
}
.slide-comment-item .comment-name {
	border-left: none;
	padding: 0;
	font-size: 15px;
	font-style: normal;
	line-height: 1.2em;
	margin: 10px 0;
}







